.env
.env.example
docker-compose.yml
Dockerfile
.dockerignore
.gitignore
.pre-commit-config.yaml
.idea/
.vscode/
.devcontainer/
.git/
.github/
venv/
.venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
